<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancy.module.agent.repository.mapper.AgUserBalanceDetailMapper">

<update id="updateBalance">
    update ag_user_balance set
    before_price = now_price,
     <if test="billType == 0">
       now_price = now_price + #{balance}
     </if>
     <if test="billType == 1">
        now_price = now_price - #{balance}
     </if>
    where id = #{id} and deleted = 0;
    </update>
</mapper>
